<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ITea - Klinik Finder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href= "{{ url_for('static',filename='styles/main.min.css') }}" rel="stylesheet">
  <style>
    section {
      padding: 60px 0;
    }
  </style>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light pt-5 pb-4">
    <div class="container-xxl">
      <!-- navbar brand / title -->
      <a class="navbar-brand" href="#vorhersage">
        <span class="text-secondary fw-bold">
          <i class="bi bi-book-half"></i>
          ITea - Klinik Finder
        </span>
      </a>
      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/bewertungen">Bewertungen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vorhersage">Vorhersage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Kontakt</a>
          </li>
          

        </ul>
      </div>
    </div>
  </nav>

  <!-- main image & intro text -->
  <section id="vorhersage">
    <div class="container-lg bg-altlight">
      <div class="text-center">
        <h2><i class="bi bi-stars text-altdark"></i>Vorhersage</h2>
        <p class="lead">Some Text</p>
      </div>
      <div class="row g-4 justify-content-center align-items-center">
        <div class="col-md-5 text-center text-md-start">
          <!-- tooltip -->
          <span class="tt" data-bs-placement="bottom" title="Net Ninja Pro book cover">
            <img src="/static/images/profil.jpg" class="img-fluid" alt="ebook">
          </span>
          
        </div>
        <div class="col-md-5 text-center d-none d-md-block">
          <h2 class="display-3">Some Text</h2>
          <form method="POST">
            <div class="form-floating">
              <textarea
                name="text"
                class="form-control"
                placeholder="Leave a comment here"
                id="floatingTextarea2"
                style="height: 100px"
              ></textarea>
              <label for="floatingTextarea2">Text</label><br />
              <!-- <input type="submit" /> -->
              <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
          </form>
          <div id="text1">{{text1}}</div>
          <h2 class="display-5"">Ergebnisse: {{result}}</h2>
        </div>
      </div>
    </div>
  </section>

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
    })
  </script>
  </body>
</html>
